.mycontent{
  padding-top: 100px;

}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #01000f;
  margin: 0;
}


#note {
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
